node_modules/
dist/
backend/dist/
frontend/dist/
backend/db.sqlite
backend/uploads/*.pdf
*.log
tsc_errors.txt
.vscode/
.idea/

# Secrets & Configs
.env
.env.local
*.json
!package.json
!firebase.json
!package-lock.json

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
